.home-section {
    height: 100vh;
    width: 100%;
    display: grid;
    /*align-items: center;
    justify-content: center;*/
    background-size: cover;
    
}

#thesis {
    background: url("thesis_bg.jpg") no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

#hashcode {
    background: url("hashcode_bg.jpg") no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

#articles {
    background: url("articles_bg.jpg") no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
}



/*.red {
    background: red no-repeat center center fixed;
}

.blue {
    background: blue no-repeat center center fixed;
}*/

h1 {
    text-align: center;
}

p {
  white-space: pre-wrap;
}