#footer-map{
  background-color: #182c39;
  text-align: center;
  padding: 1.2rem 0 0.6rem 0;
}

#footer-map h5{
  color: white;
  font-size: 1.3rem;
}

#footer-map ul{
  list-style-type: none;
  font-size: 1.1rem;
  padding-left: 0;
}

#footer-map a{
  color: #d2d1d1;
} 

#footer-map a:hover{
  text-decoration: none;
  color: white;
}



#footer-social{
  background-color: #182c39;
  padding: 0.6rem 0 1.2rem 0;
}

#footer-social .fa{
  font-size: 3vw;
  padding: 1vw;
  border-radius: 50%;
  display: inline-block;
  width: 6vw;
  height: 6vw;
  line-height: 4vw;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: #182c39;
}

#footer-social #fa-facebook:hover {
  color: #2b55ff;
}

#footer-social #fa-linkedin:hover {
  color: #0077B5;
}

#footer-social #fa-instagram:hover {
  color: #f56040;
}

#footer-social #fa-twitch:hover {
  color: #6441A4;
}

#footer-copyright{
  font-size: 0.9rem;
  text-align: center;
  justify-content: center;
  background-color: #10222e;
  color: #ccc;
  padding: 1.2rem 0 0 0;
}

#footer-signature{
  font-size: 0.9rem;
  text-align: center;
  justify-content: center;
  background-color: #10222e;
  color: #ccc;
  padding: 0 0 1.2rem 0;
}

#footer-signature a{
  color: #d2d1d1;
}

#footer-signature a:hover{
  color: white;
  text-decoration: none;
}