.landing-page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #6DA5FF;
    position: relative;
}

.landing-page__button {
    float: right;
    padding: 5px;
    position: relative;
    background-color: transparent;
    border: 0;
}

.landing-page__button__logo {
    margin: 2em;
    padding: 5px;
    background-color: transparent;
}

.landing-page__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-page__info--heading {
    margin: 0;
    padding: 0;
    flex-wrap: wrap-reverse;
    display: flex;
    flex-direction: row; 
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.landing-page__info--heading-primary {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    font-size: 3rem;
    font-weight: bolder;

}

.landing-page__info--heading-logo {
    padding: 0.5rem;
    margin: 0 1rem;
}

.landing-page__info--heading-logo img {
    max-width: 9.4rem;
}

.landing-page__info--button {
    text-transform: uppercase;
    background-color: lavender;
    font-weight: bold;
    font-size: 1.5rem;
    border: 0;
    margin-top: 1rem;
    box-shadow:  0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.landing-page__info--button:hover {
    box-shadow:  0 1rem 2rem rgba(0, 0, 0, 0.5)
}

.landing-page__info--button:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    border: 0;
}


