:root ul{
  list-style: none;
}

.our-nav{
  padding-bottom: 0 !important;
  margin: 0 !important;
}


.nav-link{
  margin: 0 !important;
  padding-bottom: auto !important;
  /* min-height: 58px !important; */
  border-bottom: 2px solid transparent;
}

#basic-navbar-nav{
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.nav-link:hover{
  margin: 0 !important;
  /* min-height: 58px !important; */
  padding-bottom: auto !important;
  border-bottom: 2px solid rgb(54, 214, 219);
  transition: all 0.5s;
}